docker_hub_org: "my_org"
ssh_key_path: "/path/to/id_rsa"
ssh_username: tango_client_username
tango_nodes:
  something:
    fqdn: something.cse.buffalo.edu
    ssh_key_path: /path/to/different/key
    ssh_username: different_username
  something-else:
	fqdn: something-else.cse.buffalo.edu
